# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code (descomente se desejar ignorar configs locais)
# .vscode/

# Flutter/Dart/Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# iOS Pods
ios/Pods/
ios/Podfile.lock
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
/android/.gradle/
/android/.idea/
/android/local.properties
/android/*.iml
/android/app/debug
/android/app/profile
/android/app/release

# Node.js (se tiver backend ou frontend JS)
node_modules/
dist/
out/

# Symbolication and obfuscation
app.*.symbols
app.*.map.json
